<section>
    
    <mat-card>
        <mat-card-title>
            <div class="logo_grid">
                <span class="logo">
                    <img class="logo" src="../../assets/img/logo.png" width="200px">
                </span>
                <span class="font-style">Contactura</span>
            </div>
        </mat-card-title>
        <mat-card-content>
            <form>
               <div>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username" type="text" value="">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                 <input matInput placeholder="Senha" type="password" value="">
             </mat-form-field>
               </div>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Login</button>
        </mat-card-actions>
    </mat-card>

</section>
